---
import "../styles/global.css";
import ProductList from "../components/ProductList.jsx";
import CategoryNav from "../components/CategoryNav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <title>Shop Vintage | Pinsociate, Inc</title>
  </head>
  <body class="bg-slate-100 min-h-screen font-sans flex flex-col">
    <header class="bg-white shadow p-6 mb-8 flex justify-between items-center">
      <a href="/" class="font-bold text-xl">Pinsociate, Inc</a>
      <nav>
        <a
          href="/cart"
          class="hover:text-blue-600 transition"
          aria-label="View Cart"
        >
          <svg
            class="w-6 h-6 text-gray-700"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <circle cx="9" cy="21" r="1.5"></circle>
            <circle cx="18" cy="21" r="1.5"></circle>
            <path
              d="M3 6h2l3.6 10.59a1 1 0 0 0 .92.61h7.98a1 1 0 0 0 .92-.62L21 7H6"
            ></path>
          </svg>
        </a>
      </nav>
    </header>
    <main class="max-w-7xl mx-auto flex-grow w-full">
      <h2 class="text-3xl font-bold mb-8 text-center">Shop by Category</h2>
      <CategoryNav />
      <ProductList client:load currentCategory={null} />
    </main>
    <Footer />
  </body>
</html>
